[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/ImGuizmo"]
	path = extern/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "extern/filewatch"]
	path = extern/filewatch
	url = https://github.com/ThomasMonkman/filewatch.git
[submodule "extern/msdf-atlas-gen"]
	path = extern/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
